*.jar
libs/ChangeHierDetect.jar
results/
data/
git_log/
extracted_info/
cache/
libuv/
libuv-v1.42.0/
libuv-v1.44.2/
libuv-v1.48.0/
jianshi/
jianshi-v1.0/
jianshi-v2.0/
cJSON/
cJSON-v1.7.0/
cJSON-v1.7.17/
PasteSpider/
PasteSpider-24.5.4.1/
PasteSpider-25.03.22/