/* 对话框  el-dialog */
.el-dialog,
.el-pager li {
    /* background-color: rgba(10, 47, 68, 0.9) !important; */
    background-color: #222f76 !important;
    border-radius: 10px;
}

.el-dialog__header {
    text-align: left;
    background-color: #182158;
    line-height: 35px;
    height: 35px;
    border-radius: 10px;
    width: 100%;
    padding: 0;
    display: inline-block;
}

.el-dialog__title {
    color: white;
    font-size: 23px;
    display: inline-block;
    font-family: 'YouSheBiaoTiHei';
    line-height: 35px;
    height: 35px;
    width: 95%;
    margin-left: 20px;
}

.el-dialog__headerbtn {
    line-height: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 20px;
}

.el-input-number.is-controls-right .el-input__inner {
    padding-left: 16px;
    padding-right: 0;
    text-align: left;
}

.el-dialog__body {
    color: white;
    height: calc(100% - 55px);
    width: 96%;
    margin: 10px auto 0;
    padding: 0;
    overflow: scroll;
    /*border: 1px salmon solid;*/
}

.el-dialog__footer {
    display: none;
}

.el-descriptions__title {
    color: white;
    font-family: YouSheBiaoTiHei;
    font-size: 30px;
    font-weight: normal;
}

.el-descriptions-item__cell {
    font-size: 14px !important;
    border: 1px solid #457792;
    padding: 5px 10px 5px !important;
}

.el-descriptions .is-bordered .el-descriptions-item__cell {
    border: 1px solid #457792;
    padding: 5px 10px 5px !important;
}

.el-descriptions-item__label {
    font-weight: 700 !important;
    text-align: left !important;
    width: 260px !important;
    color: white !important;
    background-color: #001f31 !important;
}


.el-descriptions-item__content {
    text-align: left !important;
    width: 260px !important;
    color: white;
    background-color: rgb(8, 22, 43);
}

.el-pager li {
    background-color: rgb(10 68 65 / 0%) !important;
    border-radius: 0.625rem;
}

.el-pager li.btn-quicknext,
.el-pager li.btn-quickprev {
    line-height: 1.75rem;
    color: #ffffff;
}

.title-div {
    width: 100%;
    height: 50px;
}

.title-img {
    height: 50px;
    width: 140px;
    float: left;
}


/* 按钮  button */
.btn {
    height: 35px;
    width: 120px;
    border: thin solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    border: medium solid white;
    border-radius: 5px;
}

.btn:disabled {
    color: #adadad !important;
    cursor: not-allowed !important;
}

.navButton-div {
    width: 70%;
    height: 75px;
    border-left: 1px solid white;
    display: flex;
    justify-content: left;
}

.navButton {
    color: black;
    width: 400px;
    height: 50px;
    margin-top: 10px;
    margin-left: 40px;
    border: thin solid white;
    background-color: transparent;
    font-size: 20px;
    font-family: ruizilongshuchiheichaocu;
    cursor: pointer;
    text-align: center;
}

.navButton:hover {
    border: medium solid white;
    background-color: #2973B2;
    font-size: 24px;
}

.navButtonActive {
    border: medium solid white;
    background-color: #2973B2;
    font-size: 24px;
}

.second-nav-div {
    width: 100%;
    height: 40px;
    margin: 0 auto 0;
    display: flex;
}

.second-main {
    width: 100%;
    height: calc(100% - 50px);
    margin-top: 10px;
    display: flex;
}

.second-nav-button {
    width: 10%;
    height: 40px;
    margin-right: 20px;
    color: white;
    font-size: 18px;
    font-family: "Microsoft YaHei UI";
    font-weight: 600;
    border: thin solid white;
    background-color: transparent;
    cursor: pointer;
}

.second-nav-button:hover {
    font-size: 20px;
    border: medium solid white;
}

.secondActive {
    font-size: 20px;
    border: medium solid white;
}


/* 输入框  el-input */
.el-input__inner {
    height: 35px !important;
    line-height: 35px !important;
    color: black !important;
    font-size: 15px !important;
    background-color: rgba(229, 232, 235, 0.9);
    border: 1px solid #2973B2;
}

/* .el-input__inner:focus {
    border: 1px solid rgba(3, 245, 43, 0.5);
} */

/* 下拉框 禁用效果 */
.el-input__inner:disabled {
    background-color: rgba(7, 27, 48, 0.9) !important;
    border: 1px solid rgba(80, 150, 178, 0.5) !important;
    color: gray !important;
}

.el-input__icon {
    line-height: inherit;
}

.el-input input::placeholder {
    color: gray !important;
    font-size: 15px;
}

.el-input input::-webkit-input-placeholder {
    color: gray !important;
    font-size: 15px;
}

/* 文本域 */
.el-textarea__inner {
    color: white;
    background-color: rgba(7, 27, 48, 0.9);
    border: 1px solid rgba(80, 150, 178, 0.5);
}

/* 下拉框  el-select*/
/* .el-select .el-input__inner:focus {
    border: 1px solid rgba(3, 245, 43, 0.5);
} */

.el-select-dropdown {
    color: white;
    background-color: rgba(229, 232, 235, 0.9) !important;
    border: 1px solid #2973B2 !important;
    /* background-color: rgba(7, 27, 48, 0.9) !important; */
    /* border: 1px solid rgba(80, 150, 178, 0.5) !important; */
    /* max-width: 30% !important; */
}

.el-select-dropdown__item {
    background-color: rgba(229, 232, 235, 0.9) !important;
    /* background-color: rgba(7, 27, 48, 0.9) !important; */
    color: black !important;
    font-size: 15px;
    overflow: visible;
}

.el-select-dropdown__item:hover {
    background-color: rgba(65, 172, 97, 0.5) !important;
    color: white;
}

.el-select-dropdown__item:focus {
    background-color: rgb(65, 172, 97);
}

.el-popper .popper__arrow,
.el-popper .popper__arrow::after {
    /* 下拉框上方的尖角*/
    display: none;
}

/* 表格  el-table*/
.el-table {
    border: thin solid white;
    background-color: transparent;
    cursor: pointer;
    padding-bottom: 2px !important;
}

.el-table .cell {
    white-space: pre-wrap;
    font-size: 16px;
    padding: 3px 3px 3px 8px;
}

.el-table .cell:disabled {
    cursor: not-allowed;
}

.el-tooltip__popper {
    position: absolute;
    border-radius: 5px;
    padding: 0.625rem;
    z-index: 2000;
    font-size: 14px;
    max-width: 500px;
    word-wrap: break-word;
}

.el-tooltip__popper.is-dark {
    background-color: rgba(33, 72, 105, 0.8) !important;
    font-size: 15px;
}

.el-table:before {
    height: 0;
    border: 0;
}

.el-table:after {
    width: 0;
}

.el-table__header {
    width: 100% !important;
}

.el-table__width {
    width: 100% !important;
}

.el-table__header-wrapper .el-table__header {
    background-color: transparent !important;
}

tr {
    background-color: transparent !important;
}

/* .el-table__body tr:nth-child(even)>td.el-table__cell {
    background-color: rgba(48, 78, 96, 0.6) !important;
} */

.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: rgba(58, 128, 169, 0.6) !important;
}

.el-table__body tr.current-row>td.el-table__cell {
    background-color: rgba(58, 128, 169, 0.6) !important;
}

.el-table .el-table__body tr:last-child td {
    padding-bottom: 0 !important;
}

.el-table-filter {
    background-color: rgba(48, 78, 96, 1) !important;
    /*background-color:transparent;*/
    color: rgb(255, 255, 255);
    text-align: center;
    /*border: 0;*/
    padding: 0;
}

.el-table-filter__checkbox-group {
    text-align: center;
    font-size: 16px;
    font-style: normal;
}

.el-table-filter__bottom button {
    background-color: rgba(48, 78, 96, 1) !important;
    text-align: center;
    font-size: 16px;
    font-style: normal;
}

/* 表头filter下拉框 */
.el-table-filter {
    color: white;
    background-color: rgba(7, 27, 48, 0.9) !important;
    border: 1px solid rgba(80, 150, 178, 0.5) !important;
}

.el-table-filter__list {
    padding: 0 !important;
}

.el-table-filter__list-item.is-active {
    background-color: rgb(13, 58, 87) !important;
    color: #FFF !important;
}

.el-table-filter__list-item:hover {
    background-color: rgb(13, 58, 87) !important;
    color: #FFF !important;
}

.el-table-filter__list-item {
    background-color: rgba(7, 27, 48, 0.9) !important;
    color: #FFF !important;
}

.el-table-filter__checkbox-group {
    text-align: left !important;
}

.el-table__expand-icon {
    color: rgba(58, 179, 219, 0.9);
    font-size: 16px;
    font-weight: bold;
}

.el-table--border,
.el-table--group {
    border: 0 !important;
}


/* 计数器 */
.el-input-number__decrease,
.el-input-number__increase {
    background-color: transparent !important;
    border: 0;
    color: aliceblue;
    height: 50%;
    padding: 0 !important;
    margin: 0;
}

.el-input-number.is-controls-right .el-input-number__increase {
    border: 0;
}

.el-input-number.is-controls-right .el-input-number__decrease {
    border: 0;
}

.el-input-number--mini .el-input-number__decrease,
.el-input-number--mini .el-input-number__increase {
    background-color: transparent !important;
    color: aliceblue;
    border: 0;
}

/* 日期选择器*/
.el-date-picker__header-label {
    color: #fff !important;
}

.el-date-table th {
    color: aliceblue !important;
    border-bottom: 1px solid rgb(27, 72, 106) !important;
}

.el-picker-panel {
    color: white;
    background-color: rgba(7, 27, 48, 0.9) !important;
    border: 1px solid rgba(80, 150, 178, 0.5) !important;
}

.el-time-panel {
    color: white;
    background-color: rgba(7, 27, 48, 0.9) !important;
    border: 1px solid rgba(80, 150, 178, 0.5) !important;
}

.el-time-spinner__item {
    color: white !important;
}

.el-time-spinner__item:hover:not(.disabled):not(.active) {
    background: none !important;
}

.el-time-spinner__item.active:not(.disabled) {
    color: white;
}


.el-time-spinner__arrow.el-icon-arrow-up {
    color: white;
}

.el-time-spinner__arrow.el-icon-arrow-down {
    color: white;
}

.el-time-panel__footer {
    border: 0;
}

.el-time-panel__btn {
    color: white;
}

/* 多选框*/
.el-checkbox {
    color: #fff !important;
    line-height: 35px;
}

.el-checkbox__label {
    font-size: 15px;
    padding-left: 5px;
    line-height: 35px;
    color: #fff;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #fff !important;
}

.el-checkbox__input.is-disabled .el-checkbox__inner {
    background-color: slategrey !important;
    border-color: darkgray !important;
}

.el-checkbox__inner::after {
    border-color: #eeeeee !important;
}

.el-radio {
    line-height: 35px;
}

.el-radio__label {
    font-size: 15px;
    color: white;
}

fieldset {
    border: thin solid white;
    width: 100%;
    height: 100%;
}

legend {
    float: left;
    height: 45px;
    line-height: 45px;
    width: 180px;
    margin: -25px 0 0 60px;
    font-size: 23px;
    font-family: YouSheBiaoTiHei;
    /* background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("~@/assets/img/common/legend.png"); */
    cursor: pointer;
    color: white;
}

.footer {
    margin-top: 10px;
    height: 35px;
    width: 100%;
    text-align: center;
}

/* el-tree */
.el-tree {
    background-color: transparent;
    color: white;
    font-size: 15px;
}

.el-tree-node__content {
    height: 35px;
    line-height: 35px;
    width: 100%;
    color: white;
}

.el-tree-node__label {
    font-size: 16px;
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    /* background-color: rgba(48, 78, 96, 0.6)  !important; */
    background-color: transparent !important;
}

.el-tree-node:hover>.el-tree-node__content {
    /* background-color:transparent!important; */
    background-color: rgba(48, 78, 96, 0.6) !important;

}

.el-tree-node:focus>.el-tree-node__content {
    background-color: rgba(48, 78, 96, 0.6) !important;

}

.el-checkbox__input.is-disabled .el-checkbox__inner {
    background-color: slategrey;
    border-color: darkgray
}


/* 分页器 */
.pagination {
    color: white;
    width: 90%;
    margin: 5px auto 0;
}

/*上一页按钮样式*/
.pagination .btn-prev {
    background-color: transparent;
    color: white;
}

/*下一页按钮样式*/
.pagination .btn-next {
    background-color: transparent;
    color: white;
}

.el-pagination .btn-prev:disabled {
    background-color: transparent;
    color: white;
}

.el-pagination .btn-next:disabled {
    background-color: transparent;
    color: white;
}

/* 日期时间选择器 */
.el-date-picker {
    font-size: 15px;
}

.el-date-picker__time-header {
    border: 0 !important;
}

.el-picker-panel__footer {
    background: transparent;
    border: 0;
    text-align: center;
}

.el-picker-panel__link-btn,
.el-button {
    height: 35px;
    width: 120px;
    border: thin solid white;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    justify-content: center;
}

.el-picker-panel__link-btn:hover,
.el-button:hover {
    border: medium solid white;
    border-radius: 5px;
}

/* 级联选择器 */
.el-cascader {
    height: 35px !important;
}

/* confirm */
.el-message-box {
    background-color: rgba(10, 47, 68, 0.9) !important;
    border: 0 !important;
    border-radius: 10px !important;
}

.el-message-box__header {
    background-color: rgba(29, 73, 99, 0.6);
}

.el-message-box__title {
    color: white !important;
    font-size: 20px !important;
    font-family: 'YouSheBiaoTiHei';
    font-weight: 400;
}

.el-message-box__container {
    color: white !important;
    font-size: 15px !important;
}

.el-button {
    height: 35px;
    width: 120px;
    border: thin solid white !important;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: transparent !important;
    color: white !important;
    font-size: 15px !important;
    cursor: pointer;
}

.el-button:hover {
    border: medium solid white !important;
    border-radius: 5px !important;
}

.el-button__primary {
    background-color: transparent !important;
}

/* el-message */
.el-message__content {
    font-size: 16px !important;
}

/* el-cascader 级联选择器  */
.el-cascader {
    height: 35px !important;
    line-height: 35px !important;
}

.el-cascader__dropdown {
    color: white;
    background-color: rgba(7, 27, 48, 1) !important;
    border: 0;
}

.el-cascader-menu {
    color: white;
    border: 1px solid rgba(80, 150, 178, 0.5) !important;
}


.el-cascader-node:hover {
    background-color: rgba(13, 58, 87, 0.5) !important;
}

.el-cascader-node:focus {
    background-color: rgb(13, 58, 87);
}


.el-popover {
    position: absolute;
    z-index: 2000;
    word-break: break-all;
    background: transparent !important;
    border: none !important;
}

.content-detail {
    position: absolute;
    color: white;
    height: 90%;
    width: 90%;
    margin: 5%;
}

.el-upload {
    height: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.el-upload__text {
    height: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.el-progress-bar {
    display: inline-block;
}

.el-progress-bar__inner {
    border-radius: 0 !important;
    background-color: unset;
    background-image: linear-gradient(45deg, rgba(53, 236, 255, 255), rgba(254, 225, 147, 255));
}

.el-progress-bar__outer {
    border-radius: 0;
    background-image: linear-gradient(to right, rgba(172, 197, 224, 0.5), rgba(91, 100, 121, 0.9));
}

.el-progress-bar__innerText {
    color: #1347ab;
    font-size: 14px;
    font-weight: bold;
}

/* 页面右边头部 */
.box-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    margin: 20px auto 0;
}

.title-span {
    margin-left: 3%;
    margin-right: 3%;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.header {
    width: 100%;
    height: 75px;
    /* background-image: url("../img/common/title.png"); */
    /* background-size: 100% 100%; */
    border: thin solid white;
    display: flex;
}

.titleName {
    height: 75px;
    line-height: 75px;
    width: 26%;
    background-color: transparent;
    color: black;
    font-size: 40px;
    font-family: 'YouSheBiaoTiHei';
    text-align: center;
    display: inline-block;
    /*border: 1px skyblue solid;*/
}

.mainBox {
    width: 99%;
    height: 91%;
    margin: 10px auto 0;
    /*border: 1px #fa333f solid;*/
}

.exit-button {
    background-color: transparent;
    background-image: url("../img/common/exitM.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    height: 45px;
    width: 45px;
    margin-top: 15px;
    border: 0;
    margin-left: 1%;
}

.exit-button:hover {
    background-image: url("../img/common/exitMHover.png");
}

/* form表单 */
.el-form-item {
    line-height: 30px;
    margin: 0;
    text-align: left;
    display: flex;
}

.el-form-item__label {
    color: white;
    font-size: 1rem;
    width: 45%;
    text-align-last: justify;
}

.el-form-item__content {
    margin-bottom: 3%;
}


/* 穿梭框 */
.el-transfer {
    margin: 0;
    padding: 0;
}

.el-transfer-panel {
    background-color: #457792;
    border: 0;
    color: white;
    width: 39%;
    display: inline-block;
}

.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
    color: white;
}

.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label span {
    color: white;
}

.el-transfer-panel .el-transfer-panel__header {
    background-color: #457792;
    border: 0;
    color: white;
}

.el-transfer-panel__filter .el-input__inner {
    background-color: #ecf5ff;
}

.el-transfer-panel__item.el-checkbox {
    width: 100%;
    display: flex;
    margin-left: 10%;
    padding: 0;
    text-align: left;
}

.el-transfer-panel .el-transfer-panel__empty {
    color: white;
}

.el-transfer__buttons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.el-button+.el-button,
.el-checkbox.is-bordered+.el-checkbox.is-bordered {
    margin: 0;
    padding: 0;
}